body{
  background-image: url("https://static.tumblr.com/206626c61895edee696227a096ffbc3d/yn7vk7p/XB3mw4tbn/tumblr_static_grassfortowns.png");
  color : white;
  font-family: "Gill Sans", sans-serif;
  font-weight:normal;
}

.main{
  position: relative;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.row{
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.card{
  width: 20em;
  background-color: transparent;
  margin-bottom: 2em;
}

.upCard, .bottomCard{
  height:7em;
  border: 3px solid black;
}

.upCard{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(162, 36, 36);
  border-top-right-radius : 500px;
  border-top-left-radius : 500px;
  box-shadow: 2px 5px 5px black;
  padding-top: 2.5em;
  padding-bottom: 0.5em;
  border-bottom: 5px solid black;
}

.upCard img{
  background-color: rgb(162, 36, 36);
  width: 6em;
  border: 3px solid white;
  border-radius: 500px;
  box-shadow: 2px 5px 5px black;
  transition: transform .2s;
  margin-right : 2em;
}

.upCard img:hover{
  transform : scale(2);
  cursor: pointer;
}

.upCard p{
  font-size: 1.3em;
  color : white;
}

.bottomCard{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5em;
  padding-top: 0.5em;
  color : black;
  border-bottom-left-radius : 500px;
  border-bottom-right-radius : 500px;
  background-color: white;
  box-shadow: 2px 5px 5px black;
  border-top: 5px solid black;


  font-family: "Roboto";
}

.popupBtn{
  margin-left: 2em;

  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;

  border-radius: 500px;
  height: 3em;
  width: 3em;


  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("plus.svg");
  background-size: 3em;
  background-position: center;
  background-repeat: no-repeat;

}

.popupBtn:hover{
  background-image: url("plusW.svg");
}

.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;

  font-family: "Roboto";
}

.popupContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.popupCard{
  width: 50em;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  color: black;
  padding: 2%;
  margin: 2em;
  border : 2px solid black;
}

.popupPkmn{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popupPkmn img{
  width: 10em;
  border: 4px solid black;
  border-radius: 200px;
  box-shadow: 2px 5px 5px black;
  padding: 2em;
  background-image: url("https://cdn-icons-png.flaticon.com/512/528/528101.png");
  background-position: center;
  background-size: 15em;
}

.popupTC{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.popupType{
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  justify-content: space-around;
  padding: 0.5em;
  box-shadow: 2px 5px 5px black;
}

.popupType p{
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}


.popupSx2{
  display: flex;
  justify-content: center;
}

.popupStats, .popupInfo, .popupSkill{
  border : 2px solid black;
  padding: 1em;
  border-radius: 20px;
  font-size: 0.8em;
  width: 10em;
  box-shadow: 2px 5px 5px black;
}

.popupInfo{
  margin-left: 5em;
  margin-right: 5em;
}

.closeBtn{
  color: white;
  border-radius: 50px;
  border: 2px solid white;
  background-color: transparent;

  width: 40px;
  height: 40px;

  position: absolute;
  top: 20px;
  left: 20px;

  cursor: pointer;
}

.closeBtn:hover{
  background-color: white;
  color:black;
}


.pkmName{
    font-family: 'Pokemon Solid';
}

.popupPkmn .pkmName{
  font-size: 3em;
}
